{#
/**
 * Default theme implementation for Views to output an ImageFlow gallery.
 *
 * Available variables:
 *   - options: View plugin style options:
 *   - classes: CSS classes
 *
 * @see template_preprocess_views_view_imageflow()
 *
 * @ingroup themeable
 */
#}

<div id="imageflow-{{id}}" class="imageflow clearfix">
    {% for output_row in output_rows %}
            {{ output_row['image']}}
    {% endfor %}
</div>

